# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/
*.log
*.tmp
# OS files
.DS_Store
Thumbs.db
# MLflow local files
mlflow.db
mlartifacts/

